* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #f0f1f3;
	color:#667073;
	font: 16px/1.3 'Arial',sans-serif;
}
.banner {
	height: 50px;
	background-color: #3c4446;
	margin-bottom: 30px;
	position: fixed;
	top: 0;
	width: 100%;
}
.bannertext {
	text-align:center;
	/*padding-top: 15px;*/
	line-height: 50px;
	font-family: 'Open Sans Condensed',serif;
	font-weight: bold;
	color:white;
	font-size:20px;
}
.bannertext span {
	color: #d6441b;
}


/* ------------ Section styles ------------ */

.card {
	text-align: center;
	display: block;
	margin: 0px auto;
	width: 700px;
	height: 150px;
	background-color: #ffffff;
	border-radius: 3px;
	box-shadow:0px 3px 3px #e3e4e6;
	color: #637277;
	margin-top: 10px;
}
.card h1, h2, h3, h4, h5, h6, p {
	text-align: center;
	padding-top: 1em;
}
.upload {
	position: fixed;
	height: 70px;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: #73b4d4;
	text-align: center;
	line-height: 70px;
}



.upload-text {
	font-size:14px;
	font-weight:bold;
	font-family:tahoma, arial, sans-serif;
}

#myForm {
	display: none;
}

#image {

	border-radius: 3px;
	box-shadow: 0px 3px 3px #e3e4e6;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 60px;
	background-color: #637277;
	height: 200px;
	max-width: 95%;
	width: 200px;
}

/* -------------------- Media Queries ----------------- */
@media only screen and (max-device-width : 1000px) {
	.card, .chatscreen {
		width: 90%;
	}
}